/* GLOBAL */
body.home {
	background-color: #E45149;

}

body.bio {
	background-color: #929493;
}

body.style-tile {
	background-color: #FFFFFF;
}
.style-tile img{
	height: 10em;
} 
	


/* HOME PAGE */


/* BIO Page*/
.bio h2 {
	font-family: Georgia, Times, 'Times New Roman', serif;
}
.bio h3 {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}


/* STYLE TILE */

/* Layout for Style Tile
Feel free to change */
section {
	margin: 20px 0;
}
 
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
 
/* Set Your Own Typography */
 
 
/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

.style-tile h2 {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

}
.style-tile h3 {
	
}

.style-tile p {
	
}

.style-tile .color-1 {
	background-color: red;

}
.style-tile .color-2 {
	background-color: gray;
}

.style-tile .color-3 {
	background-color: lightgrey;
}
 


.style-tile .pattern-1 {
	background: url(../img/dark-textures.jpg);

}
.style-tile .pattern-2 {
	background: url(../img/gravity.jpg);
}

.style-tile .pattern-3 {
	background: url(../img/Patterns-Background.jpg);




/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}